.storyReel{
    display: flex;
}
@media (max-width: 768px) {

    .storyReel{
        position: relative;
        right: 20%;
    } 
}
@media (max-width: 495px) {
    .storyReel{
        position: relative;
        right: 25%;
    } 
      
}